{eunit_opts, [verbose]}.
{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
	{uuid, ".*", {git, "git://github.com/PowerMeMobile/uuid.git", {branch, "master"}}},
	{protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", "HEAD"}}
]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
