{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
{asn1_opts, [ber_bin, optimize, asn1config]}.
{deps, [
	{protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {tag, "0.7.0"}}},
	{libuuid, "1.0.0", {git, "git://github.com/iamaleksey/libuuid.git", {branch, "master"}}}
]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
